<section>
  <h1>Create a New Album!</h1>
  <br>

  <form action=" <%= albums_url %> " method="post">
    <%= auth_token %>
    <select name="album[band_id]">
      <% Band.all.each do |band| %>
        <option value="<%= band.id %>"
          <%= 'selected' if @band.id == band.id %>> <%= band.name %> </option>
      <% end %>
    </select>
    <br>
    <label for="album[title]">Title:
      <input type="text" name="album[title]" value="">
    </label>
    <br>

    <label for="album[yr]">Year:
      <input type="text" name="album[yr]" value="">
    </label>
    <br>

    <label for="album[studio]">Studio
      <input type="radio" name="album[studio]" value="<%= true %>">
    </label>

    <label for="album[studio]">Live
      <input type="radio" name="album[studio]" value="<%= false %>">
    </label>


    <input type="submit" name="" value="Submit">

  </form>
