<section>
  <h1><%= @band.name %></h1>

  <container class="album_list">
    <% @band.albums.each do |album| %>
       <a href="<%= album_url(album) %>"><%= album.title %></a>
    <% end %>
  </container>

  <form action="<%= edit_band_url %>" method="post">
    <input type="hidden" name="_method" value="get">
    <%= auth_token %>

    <input type="submit" name="" value="Edit Band">
    </form>
  <br>

  <form action="<%= new_band_album_url(@band) %>" method="post">
    <input type="hidden" name="_method" value="get">
    <%= auth_token %>

    <input type="submit" name="" value="Add New Album">
  </form>

</section>
